@import url("./main.css");
body{
    
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: rgb(0, 0, 0);
}

.Heads h1{
    font-size: 40px;
    text-align: center;
}
.Heads h3{
    font-size: 20px;
    text-align: center;
}

.firstsec{
    background-image: url(./images/silver-955496_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    position: relative;
    
}

@media (max-width: 1280px){
    .firstsec{
        height: 60vh;
    }
}
@media (max-width: 1990px){
    .firstsec{
        height: 60vh;
    }
}
.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform: scale(1.1);

}

.card{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#9c9c9c,#242324);
    left: 25%;

}

.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    transition: 0.5s;
    
}
.card:hover img{
    left: 70%;
    height: 400px;
}

.card .more{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .more{
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .more h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}
.card .more p{
    color: #fff;
    font-size: 1em;
}
.card .more a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width:991px){
    .card{
        position: relative;
        width: auto;
        max-width: 400px;
        align-items: flex-start;
    }
    .card:hover{
        height: 600px;
    }
    .card:hover img{
        left: 50%;
        height: 350px;
    }
    .card .more{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media (max-width: 570px){
    .card{
        left: 1%;
    }
    .card .more{
        padding: 30px;
    }
    .card:hover img{
        height: 300px;
    }

}

.thirdsec{
    background-color: #403e3e;
    height: 120vh;
    
}
.blockk{
    width: 50%;
    padding: 8px;
}
.blockk img{
    float: left;
    width: 200px;
    padding: 0 10px 0 0;
    
}
.para p{
    display: inline;
    text-align: justify;
    font-size: 20px;
    
}
@media (max-width: 200px){
    .secondsec{
        height: 100%;
    }
}
@media (max-width: 300px ){
    .para p{
        font-size: 10px;
        color: blue;
    }
}
.fourthsec{
    
    width: 100%;
    height: 100vh;
    margin-top: 0;
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: rgb(5, 4, 4);
    text-transform: uppercase;
}

.skills li{
    margin: 20px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: linear-gradient(45deg, #18f7f7, #147da7);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 60%;
    animation: css 3s;
}

.javascript{
    width: 40%;
    animation: javascript 3s;
}

.Python{
    width: 40%;
    animation: Python 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes Python {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}