@import url("./main.css");
body{
    
    background-color: #f6f5f5;
    margin: 0;
    padding: 0;
}
.nav-links a{
    color: rgb(0, 0, 0);
}
@media (min-width: 1680px){
    .nav-links a{
        font-size: 20px;
    }
}

.firstsec{
    background-image: url(./images/silver-955496_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    
}



.text-container p:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
    

}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: myriad pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{
    border: 2px solid #373636;
    color: #373636;
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform: scale(1.1);

}
.social-l img{
    width: 80px;
    margin-top: 500px;
    align-items: center;
}
@media (min-width: 1280px){
    .text-container p:nth-child(1) {
        font-size: 50px;
        color: white;
    
    }
    .text-container p:nth-child(2){
        
        font-size: 90px;
        line-height: 1;
    }
    
    .text-container p:nth-child(3){
        color: white;
    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;
    }
    
    .text-container{
        position: absolute;
        left: 13%;
        top: 42%;
        transform: translate(-13%,-42%);
    }
    .text-container button{
        width: 130px;
        height: 42px;
        border-radius: 10px;
        font-family: calibri;
        font-weight: bold;
        font-size: 14px;
        outline: none;
        margin: 0px 10px;
    }
    .hire-btn{
        border: 2px solid #373636;
        color: #373636;
    }
    .down-cv{
        background-color: #0b0b0b;
        color: #FFFFFF;
        border: none;
    }
    button:active{
        transform: scale(1.1);
    

}
}

.card{
    position: relative;
    width: 600px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg,#9c9c9c,#242324);
    left: 20%;

}

.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    transition: 0.5s;
    
}
.card:hover img{
    left: 73%;
    height: 600px;
}

.card .more{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .more{
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .more h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}
.card .more p{
    color: #fff;
    font-size: 1em;
}
.card .more a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width:991px){
    .card{
        position: relative;
        width: auto;
        max-width: 400px;
        align-items: flex-start;
    }
    .card:hover{
        height: 600px;
    }
    .card:hover img{
        left: 50%;
        height: 350px;
    }
    .card .more{
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media (max-width: 570px){
    .card{
        left: 1%;
    }
    .card .more{
        padding: 30px;
    }
    .card:hover img{
        height: 300px;
    }

}

.thirdsec{
    position: relative;
    background-color: #6d6d6d;;
    width: 100%;
    padding: 50px;
    height: 100vh;
    
}

.box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
    transition: .5s;
}

.box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
}

.box .imgBx{
    width: 150px;
    flex: 0 0 150px;
}

.box .imgBx img{
    
    max-width: 100%;

}
.box .content{
    padding-left: 20px;
}
.box .content h2{
    margin: 0;
    padding-left: 0;
    color: chocolate;
    font-size: 22px;
}

.box .content p{
    margin: 0;
    padding: 10px 0 0;
    text-emphasis: justify;
}
@media (max-width: 685px){
    .box{
        position: relative;
        top: 50%;
        left: 50%;
        width: 400px;
    }

}
@media (max-width: 420px){
    .box{
        width: 300px;
        
    }
    .box .imgBx img{
        max-width: 50px;
        
    }
}


.fourthsec{
    
    width: 100%;
    height: 100vh;
    margin-top: 0;
    background-color: #6d6d6d;
}
.skills{
    width: 500px;
    margin: 60px auto;
    color: rgb(5, 4, 4);
    text-transform: uppercase;
    
}

.skills li{
    margin: 20px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 10px;
    float: left;
    background: red;
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 60%;
    animation: css 3s;
}

.javascript{
    width: 40%;
    animation: javascript 3s;
}

.Python{
    width: 40%;
    animation: Python 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes Python {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}

.fifthsec{
    font-family: Arial;
    background-color: #6d6d6d;;
    height: 120vh;
    box-sizing: border-box;
}
div.menu{
    margin: 50px;
}
div.category button{
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-family: "lato",sans-serif;
    font-weight: bold;
    color: rgba(114, 114, 114);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(223, 223, 223);
}

.div.category button.active{
    background-color: rgb(15, 153, 233, .7);
    color: white;
}
.product {
    display: flex;
    flex-wrap: wrap;
}
.product div{
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 10px;
}
.product div img{
    width: 300px;
    height: 150px;
    transition: .2s;
}

.product div img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 659px){
    div.category {
        display: flex;
        flex-direction: column;
    }

    div.category button{
        margin: 10px;
        padding: 5px 10px;
        font-size: 11px;
    }
    .product div {
        width: 100%;
        height: 100%;
        margin: 10px;
    }
}



.sixthsec{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    background-color: #6d6d6d;;  
}
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;

}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background: #fff;
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

@media screen and (max-width: 960px){
    .col{
        flex: 100%;
        max-width: 80%;
        
    }
}
@media screen and (max-width: 600px){
    .col{
        flex: 100%;
        max-width: 100%;
        overflow: hidden;
    }
}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    font-family: calibri;
}

footer p:nth-child(1){
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

footer p:nth-child(2){
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

