*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
.container{
    height: 150vh;
    background-image: url(./images/galaxy-3608029_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
body{
    height: 100%;
    
    
}




/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: none;
}

.logo{
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226,226);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    color: rgb(22, 183, 204);
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226,226);
    margin: 5px;
    transition: all 0.3s ease;

}
/*responsive nav */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:741px){
    body {
        overflow-x: hidden;
        position: relative;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 15vh;
        background-color: #49BCFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 1;
        transform: translateX();
    }
    to{
        opacity: 2;
        transform: translateX(0px);
       
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.content{
    width: 100%;
}
.content h1{
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 15px;
    color: white;
    margin: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content img{
    position: absolute;
    margin-top: -200px;
    width: 400px;
}
.content p{
    font-size: 25px;
    color: black;
    margin: 45px 0px 25px;
    font-style: italic;
    text-align: center;
}

.btn.active,.btn:hover{
    background: linear-gradient(45deg,  #147da7, #18f7f7) ;
    transition: 0.5s;   
}
.btn{
    display: inline-block;
    background:linear-gradient(45deg, #18f7f7, #147da7) ;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(25, 211, 195);
    margin: 20px;
}


@media (max-width: 680px){
    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: 16px;
    }

}
.top{
    color: rgb(226, 226,226);
    padding-left: 40%;
}

.comet img{
    width: 100px;
    height: 100px;
    position: fixed;

}
/*My skills

.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
    text-transform: uppercase;
}

.skills li{
    margin: 20px 0;
}

.bar{
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
    height: 2px;
    float: left;
    background: linear-gradient(45deg, #18f7f7, #147da7);
}

.html{
    width: 90%;
    animation: html 3s;
}

.css{
    width: 60%;
    animation: css 3s;
}

.javascript{
    width: 40%;
    animation: javascript 3s;
}

.Python{
    width: 40%;
    animation: Python 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes Python {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}