*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
.container{
    height: 944px;
    background-image: url(./images/galaxy-3608029_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
body{
    height: 100%;
    
    
}




/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
  
}

.logo{
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    cursor: pointer;
}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(226, 226,226);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links a:hover{
    color: rgb(22, 183, 204);
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226,226);
    margin: 5px;
    transition: all 0.3s ease;

}
/*responsive nav */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:741px){
    body {
        overflow-x: hidden;
        position: relative;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 15vh;
        background-color: #49BCFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 5;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 1;
        transform: translateX();
    }
    to{
        opacity: 2;
        transform: translateX(0px);
       
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.content{
    width: 100%;
}
.content h1{
    font-size: 80px;
    font-weight: 100;
    margin-bottom: 15px;
    color: white;
    margin: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content img{
    position: absolute;
    margin-top: -200px;
    width: 400px;
}
.content p{
    font-size: 25px;
    color: black;
    margin: 45px 0px 25px;
    font-style: italic;
    text-align: center;
}

.btn.active,.btn:hover{
    background: linear-gradient(45deg,  #147da7, #18f7f7) ;
    transition: 0.5s;   
}
.btn{
    display: inline-block;
    background:linear-gradient(45deg, #18f7f7, #147da7) ;
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgb(25, 211, 195);
    margin: 20px;
}


@media (max-width: 680px){
    .content h1{
        font-size: 40px;
    }
    .content p{
        font-size: 16px;
    }

}
.top{
    color: rgb(226, 226,226);
    padding-left: 40%;
}
.comet img{
    width: 80px;
    animation: comet 4s linear infinite;
    
    
}

.comet{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    justify-content: flex-end;
    
}
@keyframes comet {
    0%{
        transform: translateY(0) rotate(20deg);
        
        
        opacity: 4;
    }
    50%{
        opacity: 4;
    }
    70%{
        opacity: 2;
    }
    100%{
        transform: translateY(90vh) translateX(-300vh) rotate(20deg);
        opacity: 0;
    }

}


.comet img:nth-child(1){
    animation-delay: 0s;
    
    
}
.comet img:nth-child(2){
    animation-delay: 2s;
    
}

